
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Mis notas</h1>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="float-center">
            <a asp-action="Crear" asp-controller="Nota" class="btn btn-primary">Añadir nota</a>
        </div>
    </div>
</div>